@using System.Web.Optimization
@model ZTBL_VersionReleaseFormAutomation.Models.User
@{
    ViewBag.Title = "Index";
}
<html>
<head>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/loginStyle.css")
</head>

<body>@using (Html.BeginForm())
{

    <h2>Index</h2>
    <img src="~/fonts/Ztbl.png" style="margin-left:35%;margin-top:5%"  />
    <br />
    <h1 style="text-align: center; color: #fdfff9">Automated Version Release Form</h1>

}
</body>
</html>
